<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.spring_pj_ict05.dao.BoardDAO">  <!-- namespace="패키지명.인터페이스" -->
	<!-- <![CDATA[ ... ]]>는 XML에서 사용되는 특별한 구문으로, Character Data의 약자입니다. 이 구문은 
		XML 문서 내에서 텍스트 데이터를 그대로 처리할 수 있게 해 줍니다. 일반적으로 XML에서는 <, >, &와 같은 특수 문자가 XML 
		구조에서 중요한 역할을 하므로, 이 문자들을 데이터로 다룰 때 문제가 발생할 수 있습니다. 그럴 때 CDATA 섹션을 사용하면, 그 
		안에 포함된 모든 텍스트는 특수 문자로 인식되지 않고, 문자 그대로 처리됩니다. 사용 예시 -->
	<!-- 게시글 목록 -->
	<select id="boardList" parameterType="java.util.Map"
		resultType="spring.mvc.spring_pj_ict05.dto.BoardDTO">
		<![CDATA[
		SELECT *
		  FROM
			(SELECT A.*
			      , rownum AS rn
			   FROM
			     (SELECT * FROM mvc_board_tbl
				   WHERE b_show = 'Y'    
			   	   ORDER BY b_num DESC) A
		 	)
	 	WHERE rn > #{start} 
	 	AND rn <#{end} ]]>
	</select>

	<!-- 게시글 갯수 구하기 -->
	<select id="boardCnt" resultType="int">
		SELECT COUNT(*) AS cnt FROM
		mvc_board_tbl
		WHERE b_show='Y'
	</select>

	<!-- 조회수 증가 -->
	<update id="plusReadCnt" parameterType="int">
		UPDATE mvc_board_tbl
		SET b_readCnt = b_readCnt + 1
		WHERE b_num = #{board_num}
	</update>

	<!-- 게시글 상세 처리 -->
	<select id="getBoardDetail" parameterType="int"
		resultType="spring.mvc.spring_pj_ict05.dto.BoardDTO">
		SELECT * FROM mvc_board_tbl
		WHERE b_num = #{board_num}
	</select>

	<!-- 게시글 수정삭제 버튼 클릭시 - 비밀번호 인증처리 -->
	<select id="password_chk" parameterType="java.util.Map"
		resultType="int">
		SELECT count(*) AS cnt FROM mvc_board_tbl
		WHERE b_num = #{num}
		AND b_password = #{password}
	</select>

	<!-- 게시글 수정 처리 -->
	<update id="updateBoard"
		parameterType="spring.mvc.spring_pj_ict05.dto.BoardDTO">
		UPDATE mvc_board_tbl
		SET b_password = #{b_password}
		, b_title = #{b_title}
		, b_content = #{b_content}
		WHERE b_num = #{b_num}
	</update>

	<!-- 게시글 삭제 처리 -->
	<update id="deleteBoard" parameterType="int">
		UPDATE mvc_board_tbl
		SET b_show = 'N'
		WHERE b_num = #{board_num}
	</update>

	<!-- 게시글 작성 처리 -->
	<insert id="insertBoard"
		parameterType="spring.mvc.spring_pj_ict05.dto.BoardDTO">
		INSERT INTO mvc_board_tbl(b_num, b_title, b_content,
		b_writer, b_password, b_readCnt, b_regDate, b_comment_count)
		VALUES((SELECT NVL(MAX(b_num)+1, 1) FROM mvc_board_tbl), #{b_title},
		#{b_content}, #{b_writer}, #{b_password}, 0, sysdate, 0)
	</insert>

	<!-- 댓글 작성 처리 -->
	<insert id="insertComment"
		parameterType="spring.mvc.spring_pj_ict05.dto.BoardCommentDTO">
		INSERT INTO mvc_comment_tbl(c_comment_num, c_board_num,
		c_writer, c_content, c_regDate)
		VALUES((SELECT NVL(MAX(c_comment_num)+1, 1) FROM mvc_comment_tbl), #{c_board_num},
		#{c_writer}, #{c_content}, sysdate)
	</insert>

	<!-- 댓글 목록 -->
	<select id="commentList" parameterType="int"
		resultType="spring.mvc.spring_pj_ict05.dto.BoardCommentDTO">
		SELECT *
		FROM
		(SELECT A.*
		, rownum AS rn
		FROM
		(SELECT *
		FROM mvc_comment_tbl c,
		mvc_board_tbl b
		WHERE b.b_num = c.c_board_num
		AND b_num = #{board_num}
		ORDER BY c_comment_num DESC) A
		)
		ORDER BY rn DESC
	</select>
</mapper> 